---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import db from '../../../utils/db';
import { assertIsMember } from '../../../types/guards';
import type { Issues, Member } from '../../../types/db';
import { makeMemberSlug } from '../../../utils/slug';
import PartyBadge from '../../../components/PartyBadge.astro';
import { memberTitle } from '../../../utils/member-title';
import FormattedSummary from '../../../components/FormattedSummary.astro';
import Stack from '../../../components/Stack.astro';
import IssueSummary from '../../../components/IssueSummary.astro';
import { issueName } from '../../../utils/issues-name';
// Get the slug from the URL
const { slug } = Astro.params;

const [firstName, lastName] = slug!.split('_');
const member = db.prepare('SELECT * FROM members WHERE LOWER("First Name") = LOWER(?) AND LOWER("Last Name") = LOWER(?)').get(firstName, lastName);

assertIsMember(member);

// For now, just display the slug as the name
// In the future, this will be replaced with actual data from a database or API
const name = memberTitle(member);

export function getStaticPaths() {
  const allMembers: Member[] = db.prepare('SELECT * FROM members').all();

  return allMembers.map((rep) => ({
    params: { slug: makeMemberSlug(rep) },
  }));
}

const summary = JSON.parse(member.Summary!);
const issues = Object.keys(summary.issues).filter((issue) => summary.issues[issue as Issues] !== null);
---

<StarlightPage frontmatter={{ title: name, description: member.Constituency }}>
  <PartyBadge party={member['Political Affiliation']} />
  Representing {member.Constituency} in {member['Province / Territory']}
  {summary && <FormattedSummary summary={summary.summary} />}
  <h2>Issues</h2>
  <Stack>
    {issues.length > 0 ? issues.map((issue) => (
      <li><IssueSummary title={issueName[issue as keyof typeof issueName]} description={summary!.issues[issue as Issues] as string} /></li>
    )) : (
      <p>This representative was not summarized into specific issues.</p>
    )}  
  </Stack>
</StarlightPage>