---
import db from '../utils/db';

interface Props {
  summary: string;
}

const { summary } = Astro.props;

// Convert markdown links to HTML links
const linkedSummary = summary.replace(/\[([^\]]+)\]\(([^)]+)\)/g, (match, text, id) => {
  const thisBill = db.prepare('SELECT * FROM bills WHERE "Bill ID" = ?').get(id);

  if(!thisBill) {
    throw new Error(`Bill with ID ${id} not found`);
  }

  return `<a href="/canada/bills/${thisBill['Bill ID']}">${text}</a>`;
});
const linkedSummaryLines = linkedSummary.split("\n");

---

{linkedSummaryLines.map((line) => <p set:html={line} />)}
