---
import { Card } from "@astrojs/starlight/components";   

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<Card title={title}>{description.split("\n").map((line) => <p>{line}</p>)}</Card>



