---
import { Card } from "@astrojs/starlight/components";   
import FormattedSummary from "./FormattedSummary.astro";

interface Props {
  title: string;
  description: string;
  id: string;
}

const { title, description, id } = Astro.props;

---

<Card title={`<span id="${id}">${title}</span>`}>
  <FormattedSummary summary={description} />
</Card>
